
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>

<form action="">
    <div class="FormGroup">
        <label for="Customer">Customer :</label><br />
        <input type="text"  class="form_control">
    </div>
   
    <div class="FormGroup">
        <label for="Movie"> Movies   :</label><br />
        <input type="text" class="form_control">
    </div>


    <div class="FormGroup">

     
        <br />
        <button  class="btn btn-primary"> Submit</button>
    </div>

</form>
